---
import { getCollection } from "astro:content";
import Post from "../components/Post.astro";
import Layout from "../layouts/Layout.astro";
const posts = await getCollection("posts");
const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
    <h2>Posts</h2>
    <ul role="list" class="link-card-grid">
        {
            posts.map((post) => (
                <Post
                    url={`/posts/${post.slug}/`}
                    title={post.data.title}
                    body={post.data.description}
                    date={post.data.date}
                />
            ))
        }
    </ul>
</Layout>
