---
interface Props {
    url: string;
    title: string;
    description: string;
    date: string;
    word_count: number;
}

const { url, date, title, description, word_count } = Astro.props;
---

<li class="card">
    <a class="card__link" href={url}>
        <h3 class="card__title">
            {title}
        </h3>
        <ul class="card__subtitle">
            <li>{date},</li>
            <li>{word_count} words,</li>
            <li>{(word_count / 200).toFixed()} minutes to read</li>
        </ul>
        <p class="card__txt">
            {description}
        </p>
    </a>
</li>
